<configuration><configSections>
                   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                       <section name="Inecom_SDK_Reporting_Package.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
                   </sectionGroup>
    </configSections>
    <applicationSettings>
        <Inecom_SDK_Reporting_Package.Settings>
            <setting name="Inecom_SDK_Reporting_Package_localhost_Service"
                serializeAs="String">
                <value>http://localhost/TESTWS/Service.asmx</value>
            </setting>
        </Inecom_SDK_Reporting_Package.Settings>
    </applicationSettings>
</configuration>